<%- include('./stores-header.ejs') %>


<!DOCTYPE html>
<html>

<body>
  <div id="searchOut">
    <h2>Stock out</h2>
    <form class="example" method='get' action='' style="margin:auto;max-width:300px">
      <input type="text" autocomplete="off" placeholder="Search.." name="search">
      <button type="submit">Search</button>
    </form>

    </br>
  </div>

  <% if (session.search){ %>
  <div id="displaySearch">
    <form class="myBox" method="post" action="" enctype="multipart/form-data">
      <table id="t01" class="myBox">
        <tr>
          <th>Order number</th>
          <th>name</th>
          <th>Taken by</th>
          <th>complete</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        <% row.forEach(e => { %>
        <tr>
          <td> <%=e.number%> </td>
          <td> <%=e.name%> </td>
          <td> <%=e.removedby%> </td>
          <td><input type='checkbox' onclick='return false;' <%if(e.complete){%>checked<%}%> > </td>
          <td> <%=new Date(e.date*1000).toLocaleDateString()%> </td>
          <td> <%=new Date(e.date*1000).toLocaleTimeString()%> </td>
        </tr>
        <%})%>
        <%}%> 
      </table>
      </form>
 
  </div>

<% if(session.userName) {%>

        <div id="removeStock">
          <form class="myBox box" method='post' action='' enctype='multipart/form-data'>
            <h2>Remove order from stores</h2>
            <input type="text" name="ordernumber" class="input-field" autocomplete="off" placeholder="Order number" required>
            <input type="text" name="ordername" class="input-field" placeholder="Order name" required>
            <br>
            <input type="checkbox" name="complete" id="complete" checked >
            <label for="complete">Order is complete?</label>
            <br>
            <br>
            <input type='submit' name='remove' class="centerButton" value='Remove'>

          </form>
        </div>

        <%}%>


</body>

</html>
<%- include('../footer.ejs') %>