<%- include('./header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="myBox">
        <form action="" method="post" enctype='multipart/form-data'>
            <h2>User options for <%=session.userName%></h2>
            <hr>
            
            User level: <%=session.userLevel%> - Department: <%=session.department%>
           
            <br>
            
        </form>

            <hr>
        
        <form action="" method="post" id="passwordForm">
            <h3>Password</h3>
            
            <input type="password" name="password" id="password">
            <label for="password1">new password</label>
            <br>
            
            <input type="password" name="password2" id="password2">
            <label for="password2">again</label>
            
            <br>
            <input type="submit" value="Change password" name="changePassword">
            <div id="errorPassword"></div>
        </form>

            <hr>

        <form action="" method="post">    
            <h3>Email</h3>
            <input type="email" name="email" id="email" value="<%=row.email%>">
            <input type="submit" value="Change email" name="changeEmail">
        </form>

    </div>

    
</body>
<script>
const form = document.getElementById("passwordForm");
const errorMsg = document.getElementById("errorPassword");

form.addEventListener("submit", (e) => {
    if(form[0].value != form[1].value){
    e.preventDefault()
    errorMsg.innerText = "Passwords dont match"
    }
})
</script>

</html>