<%- include('../header.ejs') %>
<!DOCTYPE html>
<html>

<head>
  <script id="script" data-ip="<%=socketIoIP%>" data-port="<%=socketIoPort%>" defer src="//<%=socketIoIP%>:<%=socketIoPort%>/socket.io/socket.io.js"></script>
  <script defer src="/script.js"></script>
</head>

<body>

  <!-- Header -->


  <div class="columns-3">
    <div class="column">
      <form class="myBox" style="animation-name: fromLeft;">
        <h2><%=row.ordername%> </h2>
        <h3><%=row.ordernumber%> </h3>        <h5 data-id="<%=row.id%>" id="id">ID: <%=row.id%></h3>
        <input type="checkbox" onclick="return false;" <%if(row.print == 'on' ){ %> checked <%}%>>Print
        <input type="checkbox" onclick="return false;" <%if(row.emb == 'on' ){ %> checked <%}%>>Emb
        <input type="checkbox" onclick="return false;" <%if(row.transfer == 'on' ){ %> checked <%}%>>Transfer
        <input type="checkbox" onclick="return false;" <%if(row.aspre == 'on' ){ %> checked <%}%>>As Pre <br>
        <input type="checkbox" onclick="return false;" <%if(row.digi == 'on' ){ %> checked <%}%>>Digi pic
        <input type="checkbox" onclick="return false;" <%if(row.sample == 'on' ){ %> checked <%}%>>Sample
        <input type="checkbox" onclick="return false;" <%if(row.swatch == 'on' ){ %> checked <%}%>>Swatch <br>

        <br>
        Machine: <%=row.machine%> <br>
        <%if (row.bookindate){%>
          due for production: <%=new Date(row.bookindate*1000).toLocaleDateString()%> <br>
          <br>
        <%}%>
        <br>
        Positions: <%=row.pos%> <br>
        <br>
        <%if (row.print == 'on'){%>
          screens: <%=row.screens%> <br>
          <br>
        <%}%>
        
        <%if (row.emb == 'on'){%>
          Stitch Count: <%=row.stitchcount%> <br>
          <br>
        <%}%>
      


        <%if (sampleID[0]){%>
          sampled: <input type="button" onclick="location.href='/samples/view/<%=sampleID[0].rowid%>';" value="View" />
        <%}%>
        <br>
        
      </form>
    </div>

    <div class="column">
      <form class="myBox" style="animation-name: fromTop;" method='post' action='' enctype='multipart/form-data'>
        <input type="checkbox" id="hasstock" name='hasstock' <%if(row.hasstock == 'on' ){ %> checked <%}%> >
        <label for="hasstock">Stock?</label> &nbsp;&nbsp;&nbsp;

        <input type="checkbox" id="hasscreens" name='hasscreens' <%if(row.hasscreens == 'on' ){ %> checked <%}%> >
        <label for="hasscreens">Screens?</label>&nbsp;&nbsp;&nbsp;

        <input type="checkbox" id="hasapp" name='hasapp' <%if(row.hasapp == 'on' ){ %> checked <%}%> >
        <label for="hasapp">Approval?</label>&numsp;&numsp;&numsp;

        <input type="checkbox" id="ispacked" name='ispacked' <%if(row.ispacked == 'on' ){ %> checked <%}%> >
        <label for="ispacked">Packed?</label>&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;&numsp;
        <br>
        <textarea autocomplete='off' placeholder='Notes' name='notes' rows='10'><%=row.notes%></textarea> <br>
        <br>
        <%if (session.userName){%>
        <input type='submit' name='update' class='centerButton' value='Update'>
        <%}%>
      </form>

      <form class="myBox" style="animation-name: fromBottom;" method='post' style='width:250px' enctype='multipart/form-data'>
        <%if (row.complete == "on"){%>
        <p>completed on: <%=new Date(row.completed*1000).toLocaleDateString()%></p>
        <p>by: <%=row.completeby%></p>
        <%}else{%>

        <%if (session.userName){%>
        <input type='submit' name='completejob' onclick="return confirm('Mark this order as complete?')" value='Job Complete'>
        <%}%>
            
            <%}%>
        <%if (session.userLevel == 'admin'){%>
        <input type=button onClick="location.href='../edit/<%=row.id%>'" value='Edit'>
        <%}%>
        
      </form>

    </div>

    <div class="cloumn">
      <form style="animation-name: fromRight;" class="myBox" method='post' action='' enctype='multipart/form-data'>
      <h2>stock</h2>
      <table id="t01">
      <tr>
      <th>code</th>
      <th>colour</th>
      <th>size</th>
      <th>amount</th>
      </tr>
      
<% const garments = JSON.parse(row.garments) %>
          <% var index = 0 %>
          <% let totalGarments = 0 %>
          <% try{garments.forEach(e => { %>
          <tr>
            <td> <%=e.code%> </td>
            <td> <%=e.colour%> </td>
            <td> <%=e.size%> </td>
            <td> <%=e.amount%> </td>
            <% totalGarments += Number(e.amount) %>
          </tr>
          <% index++ %>
          <%})}catch(err){ if (debugVar) console.log("error in parsing garments orders/view.ejs. probably just empty") }%>

          </table>
  
          Total: <%=totalGarments%> <br>
        </form>



    </div>

  </div>


</body>

</html>
<%- include('../footer.ejs') %>
